*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

dialog {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 800px;
    height: 400px;

    background-image: url(26110031907090.jpeg);
    background-size: cover;
    background-position: center;

    border: 0;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.326);
}

dialog div{
    width: 50%;
    height: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

dialog div h1{
    font-size: 4em;
    color: rgb(0, 222, 222);
}

dialog div p:nth-of-type(1){
    font-size: 1.2em;
}

dialog > button{
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;

    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border: 0;
}

dialog div button{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 222, 222);
    color: white;
    font-size: 1.1em;
    margin-top: 20px;
    cursor: pointer;
}